<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">

    <!-- Favicon -->
    <link rel="icon" href="favicon.png" type="image/jpg">
</head>

<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="name" placeholder="Name" required>
            {{!-- <input type="text" name="enrollmentnumber" placeholder="Enrollment Number" required> --}}

            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span class="toggle-password" onclick="togglePassword()">👁</span>
            </div>

            <input type="submit" value="Sign Up">
        </form>
        <div class="login-option">
            <p>Already have an account? <a href="/login">Log in here</a></p>
        </div>
    </div>

    <script>
        function togglePassword() {
            const passwordInput = document.getElementById('password');
            const passwordIcon = document.querySelector('.toggle-password');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordIcon.textContent = '🙈'; // Change to hide icon
            } else {
                passwordInput.type = 'password';
                passwordIcon.textContent = '👁'; // Change back to show icon
            }
        }
    </script>
</body>

</html>